<mat-sidenav-container class="admin-container">

  <mat-sidenav #sidenav class="sidebar"
               [mode]="isMobile ? 'over' : 'side'"
               [fixedInViewport]="isMobile"
               [autoFocus]="false">

    <div class="logo-section">
      <mat-icon>medical_services</mat-icon>
      <span>Clinic Admin</span>
    </div>

    <mat-nav-list>
      <a mat-list-item routerLink="/dashboard">
        <mat-icon>dashboard</mat-icon> Dashboard
      </a>

      <a mat-list-item routerLink="/enquiries">
        <mat-icon>chat_bubble_outline</mat-icon> Enquiries
      </a>

      <a mat-list-item routerLink="/patients-list">
        <mat-icon>person_outline</mat-icon> Patients
      </a>

      <a mat-list-item routerLink="/visits">
        <mat-icon>medical_information</mat-icon> Visits
      </a>

      <a mat-list-item routerLink="/prescriptions">
        <mat-icon>medication</mat-icon> Prescriptions
      </a>

      <a mat-list-item routerLink="/therapies">
        <mat-icon>psychology</mat-icon> Therapies
      </a>

      <a mat-list-item routerLink="/reports">
        <mat-icon>assessment</mat-icon> Reports
      </a>

      <a mat-list-item routerLink="/settings">
        <mat-icon>settings</mat-icon> Settings
      </a>
    </mat-nav-list>

    <!-- <div class="user-profile">
      <img src="https://i.pravatar.cc/150?u=drsharma">
      <div class="user-info">
        <span class="name">Dr. Xyz</span>
        <span class="role">Admin</span>
      </div>
      <mat-icon>arrow_drop_down</mat-icon>
    </div> -->

  </mat-sidenav>


  <mat-sidenav-content class="main-content">

    <header class="top-header">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>

      <span class="spacer"></span>

      <button mat-icon-button>
        <mat-icon>notifications_none</mat-icon>
      </button>

      <button mat-flat-button color="primary" class="add-patient-btn" routerLink="/add-patient">
        <mat-icon>add</mat-icon> Add Patient
      </button>
    </header>

    <router-outlet></router-outlet>

  </mat-sidenav-content>

</mat-sidenav-container>